.father {
  display: flex;
  /* Main Axis */
  justify-content: space-evenly;
  /* Cross Axis */
  height: 500px;
}

.child {
  flex-basis: 45%;
  border: 1px solid peru;
  color: peru;
  display: flex;
  flex-direction: column;
}

.child h3 {
  font-size: 1.5rem;
  align-self: center;
}

.child ul li {
  list-style: square;
  font-size: 1.3rem;
}
