@import '_reset';
@import '_variables';

header {
  padding: 20px;
  h1 {
    font-weight: 300;
    font-size: 2rem;
    color: $color-point;
  }
}
.sample {
  padding: 0 20px;
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 100px) 50px;
    grid-template-rows: 40px repeat(3, 70px) 30px;
    grid-template-areas:
      'header header header header header header'
      'content content content content content nav'
      'content content content content content nav'
      'content content content content content nav'
      'footer footer footer footer footer footer';
    .header {
      grid-area: header;
      background-color: $color-point;
      color: $color-bg;
      padding: 10px;
    }
    .content {
      grid-area: content;
      background-color: $color-point-second;
      padding: 10px;
    }
    .nav {
      grid-area: nav;
      background-color: $color-point-light;
      color: $color-point;
      padding: 10px;
    }
    .footer {
      grid-area: footer;
      background-color: $color-main;
      color: $color-bg;
      padding: 10px;
    }
  }
}
.style {
  border-top: 1px solid $color-point-second;
  margin-top: 20px;
  padding: 20px 20px;
  h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  pre {
    border: 1px solid $color-point;
    padding: 5px 0;
  }
}
