@import '_variables';

body {
  background: $bg;
}

.box {
  margin-top: 20px;
  &:hover {
    background-color: green;
  }
  h2 {
    color: white;
  }
  button {
    color: $bg;
    &:hover {
      background-color: black;
    }
  }
}
